<div class="wrapper">
	<div class="left-wing">
		<div class="header left"></div>
		<div class="body chats"></div>
	</div>
	<div class="right-wing">
		<div class="header right"></div>
		<div class="body chat">
			<div class="message" ng-class="vm.messageIsMine(message) ? 'right' : 'left'" ng-repeat="message in vm.messages">
				<span class="sender">{{message.sender.username}}</span>
				<p class="mbody">{{message.content}}</p>
			</div>
		</div>
		<div class="input-area">
			<input type="text" name="message" placeholder="Enter your message..."
			ng-model="message" ng-keypress="$event.which === 13 && vm.sendMessage(message)">
		</div>
	</div>
</div>