<!DOCTYPE html>

<html ng-app="MEANChat">
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <script src="js/app.bundle.test.js"></script>
    <script src="js/components.bundle.js"></script>
    <script src="js/shared.bundle.js"></script>
    <script src="js/services.bundle.js"></script>
  </body>
</html>
