<!DOCTYPE html>

<html ng-app="MEANChat">
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" href="img/temp-favi.png">
  </head>
  <body class="{{stateStyle}}">
    <div ui-view></div>
    <script src="js/bundle.js"></script>
  </body>
</html>
