.home
{
    margin: auto;

    -webkit-transition: .3s linear;
       -moz-transition: .3s linear;
         -o-transition: .3s linear;
            transition: .3s linear;

    color: #fff;
    background: #000;
    -webkit-box-shadow: 0 0 10px #111;
       -moz-box-shadow: 0 0 10px #111;
            box-shadow: 0 0 10px #111;
}.test
{
    color: green;
    background: #00f;
}
